In [4]:
import pandas as pd
import numpy as np

df = pd.DataFrame ({'a' : np.random.randn(6),
                 'b' : ['foo', 'bar'] * 3,
                 'c' : np.random.randn(6)})

df

          a    b         c
0  0.241113  foo -0.526894
1 -0.047115  bar  0.779906
2 -0.009132  foo -1.250598
3  0.774211  bar  1.077547
4 -0.401820  foo -0.009208
5  0.744935  bar  1.789425

In [7]:
# write the function that you want to apply over teh whole dataframe

def add_two(num1):
    return num1 + 2

In [10]:
#To apply a function over every row, use the apply method to create a new column
#lambda functions are just functions you don't want to name -- aka anonymous functions

df['Value'] = df.apply(lambda row: add_two(row['a']), axis=1)
df

          a    b         c     Value
0  0.241113  foo -0.526894  2.241113
1 -0.047115  bar  0.779906  1.952885
2 -0.009132  foo -1.250598  1.990868
3  0.774211  bar  1.077547  2.774211
4 -0.401820  foo -0.009208  1.598180
5  0.744935  bar  1.789425  2.744935